.about-container {
  max-width: 900px;
  margin: 100px auto;
  padding: 100px auto;
}
.about-title {
  text-align: center;
  font-size: 75px;
  margin-bottom: 30px;
}
.about-container p {
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 3px;
}
