.port-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.port-card {
  border: 7px solid white;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.port-img-box {
  width: 100%;
}
.port-img-box img {
  width: 350px;
  min-height: 214px;
}
