.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px auto;
  padding: 157px 0;
  background-attachment: fixed;
  background-position: center;
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}
.form-container h2 {
  margin: 20px auto;
  font-size: 100px;
  color: #5d2613;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  min-width: 30%;
  margin: auto;
}

input,
textarea,
form button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: rgba(251, 237, 225, 0.5);
  border: 5px solid #689d63;
  resize: none;
  color: #805326;
  font-size: 25px;
  font-weight: 700;
}
input::placeholder,
textarea::placeholder,
form button::placeholder {
  color: #805326;
  font-size: 25px;
  font-weight: 700;
  opacity: 0.5;
}
form > button:hover {
  background: #f9f9f9;
  color: #805326;
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 480px) {
  .form-container {
    background-image: url('../../assets/bg2.png');
    background-attachment: scroll;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .form-container {
    background-image: url('../../assets/bg2.png');
  }
}

@media (min-width: 1025px) {
  .form-container {
    background-image: url('../../assets/bg2.png');
  }
}
