.header-container {
  padding: 157px 0;
  display: grid;
  min-width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 480px) {
  .header-container {
    background-image: url('../../assets/bg2.png');
    background-attachment: scroll;
    padding: 2vw 0;
  }
}
@media (min-width: 481px) and (max-width: 599px) {
  .header-container {
    background-image: url('../../assets/bg2.png');
    padding: 2vw 0;
    background-attachment: scroll;
  }
}
@media (min-width: 600px) and (max-width: 769px) {
  .header-container {
    background-image: url('../../assets/bg2.png');
    padding: 5vw 0;
    background-attachment: scroll;
  }
}
@media (min-width: 770px) and (max-width: 1024px) {
  .header-container {
    background-image: url('../../assets/bg2.png');
    padding: 10vw 0;
    background-attachment: scroll;
  }
}

@media (min-width: 1025px) {
  .header-container {
    background-image: url('../../assets/bg2.png');
  }
}
